<div class="row">
	<div class="comment">
		<div class="col-md-3" style align="center">
			<%= avatar_image_url %><br />
		  <%= comment.commenter %><br />
		</div>
		<div class="col-md-3>">
			<%= comment.timestamp %><br />
		  <strong>Comment:</strong>
		  <%= comment.body %>
			<% if comment.commenter == current_user.name %>
			<p>
				<%= delete_comment_url comment %>
			<% end %>
			</p>
		</div>
	</div>
</div>