<%= form_for(@post) do |f|  %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title   %><br>
    <%= f.text_field :title ,:class=>'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'Image' %><br>
    <%= image_tag @post.image_url, size: "150" %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.text_area :body ,:class=>'redactor redactor-mine', :rows => 200, :cols => 120 %><br />
  </div>
  <div class="form-group">
    <%= f.label "Tag List, separated by commas:"   %><br>
    <%= f.text_field :tag_list ,:class=>'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit :class=>'btn btn-primary btn-xs'%>
  </div>
<% end %>