<div class="row post">
  <div class="col-md-3 post-title">
    <h1><%= post_title post %></h1>
    <h6 align="left">
      <%= avatar_user_on_post post %><br />
      <strong><%= post.user.name %></strong><br />
      <span class="glyphicon glyphicon-tags"> </span> <%= post.tag_list %>
    </h6>
    <small class="post-timestamp"><em><%= post.timestamp %></em></small>
    <p><%= social_buttons_on_post post %></p>
    <p>Comments: <%= post.comments_for_post %></p>
  </div>
  <div class="col-md-9 post-image"> 
    <div class="image">
      <div class="image-fixed">
        <%= post_image post %>
        <div class="text-over-image">
          Click to Enlarge
        </div>
      </div>
    </div>
    <p class="post-body"><%= post_body post %></p>
  </div>
</div>