<div class="row post">
  <div class="col-md-3 post-title">
    <h1><%= link_to post.title, post_path(post) %></h1>
    <h6 align="left">
      <%= image_tag post.user.avatar, class: 'post-avatar' %><br />
      <strong><%= post.user.name %></strong><br />
    </h6>
    <small class="post-timestamp"><em><%= post.timestamp %></em></small>
    <p><%= social_share_button_tag(post.title, :url => "http://www.myapp.com") %></p>
    <p>Comments: <%= post.comments_for_post %></p>
  </div>
  <div class="col-md-9 post-image">
    <%= link_to image_tag(post.image_url), (post.image_url), :target => "_blank" %>
    <p class="post-body"><%= truncate(strip_tags(post.body), length: 400) %></p>
  </div>
</div>