<p id="notice"><%= notice %></p>
<div class="row post">
  <div class="col-md-3">
    <p class="post-title">
      <h1><%= @post.title %></h1>
      <h6>Created by: <br>
        <%= avatar_image_on_post %> <br />
        <strong><%= @post.user.name %></strong>
        </h6>
      <small class="post-timestamp"><em><%= @post.timestamp %></em></small>
      <div class="show-btns">
        <%= social_buttons %><br>
        <%= show_buttons_for_user_actions %>
        <%= home_button %>
      </div>
    </p>
  </div>
  <div class="col-md-9">
    <p class="post-image">
      <%= show_post_image %>
    </p>
    <p class="post-body">
      <%= @post.body %>
    </p>
  </div>
</div>
<div class="post-comments">
  <h2>Comments</h2>
    <%= render @post.comments %>
  <h2>Leave your comment <small>(login required)</small></h2>
    <%= render 'comments/form' %>
</div>