<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
  <title>Riverpix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 	<%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<div class="container">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a class="header navbar-brand" href="/">
      	RiverPix
      </a>
    </div>
    <div class="header">
    	<div class="row">
    		<div class="">
  		    <% if user_signed_in? %>
          <div class="col-md-9">
            <span class="signed">
              Welcome back <strong><%= current_user.name %></strong> your ID: <strong><%= current_user.id %>!</strong><br>
              <%= link_to 'New Post', new_post_path, :class=>"btn btn-success btn-xs" ,:type=>'button' %> <%= link_to 'Edit Profile', edit_user_registration_path, :class=>"btn btn-info btn-xs" ,:type=>'button' %> <%= link_to "Sign out",destroy_user_session_path, method: :delete , id: "sign_out", :class=>"btn btn-danger btn-xs" ,:type=>'button'  %>
            </span>
            <span class="signed">
              <%= image_tag(current_user.avatar_url, size: "30") %> 
            </span>
          </div>
        <% else %>
          <div class="col-md-9">
            <span class="signed">
              Login or sign-up:  <%= link_to "Sign in", new_session_path(:user), id: "sign_in" , :class=>"btn btn-success btn-xs" ,:type=>'button' %> <%= link_to "Sign up",new_user_registration_path, id: "sign_up" , :class=>"btn btn-primary btn-xs" ,:type=>'button' %>
            </span>
          </div>
        <% end %>
  			</div>
    	</div>
    </div><!--/.navbar-collapse -->
  </div>

  <p id="notice" class="alert"></p>

	<%= yield %>
</div>

<div class="footer">
</div>

</body>
</html>
